input[type=radio] {
    border: 0px;
    width: 2rem;
    height: 2em;
}

label {
  font-size:1.6rem;
  padding-right: 1.3rem;
  color: #556052;
}

label:hover {
  color: #000000;
}

#start{
  background-color: #222831;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

#level{
  background-color: #222831;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

#start:hover{
  opacity: 0.9;
}

#stop:hover{
  opacity: 0.9;
}

#stop{
background-color: #a20a0a;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}


p{
 font-size: 1.5rem;
}


html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-50deg, #0f0f0f 50%, #f1f1f1 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
 left:50%;
 padding:10vmin;
 position:fixed;
 text-align:center;
 top:50%;
 transform:translate(-50%, -50%);
}


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
